.tesla-battery_notice {
  margin: 20px 0;
  font-size: 15px;
  color: #666;
  line-height: 20px;
}

@media (max-width: 500px) {
  .tesla-battery_notice {
    margin-top: 120px;
    text-align: center;
  }
}
