.header {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  background: #222;
}

.header img {
  width: 100px;
  height: 13px;
}

.header-animation {
  -webkit-animation: fade-in 2.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fade-in 2.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .header {
    width: 800px;
  }
}

@media (max-width: 500px) {
  .header {
    width: 500px;
  }
}
